*
{
	margin:						0;
	padding:					0;
	font-size:					10px;
}


#wrapper
{
	display:					flex;
	flex-direction:				column;
	
}

#SEC01
{
	display:					flex;
	justify-content: 			space-around;
	align-items: 				center;
	height:						30vh;
	
	background-color:			darkslategray;
}

#SEC02
{
	display:					flex;
	justify-content: 			space-around;
	height:						70vh;
	
	background-color:			black;
}


#SEC03
{
	display:						flex;
	align-items: 					center;
	justify-content: 				space-around;
	
	height: 						70vh;
	
	
	background-image:				url("../ASSETS/IMAGES/BACKGROUNDS/TEXTURES/BGL-KYBRD-600-1400.jpg");
	background-color:				black;
	
}


#LOC01
{
	display:						flex;
	flex-direction: 				column;
	justify-content: 				center;
	align-items: 					center;
}

.LOT01
{
	display:						flex;
	align-items: 					center;
	
	margin-bottom:					.5rem;
	
}

#LOC03
{
	display:						flex;
	align-items: 					center;
	justify-content: 				space-between;
	
	width: 							100%;
	
	margin-bottom:					2rem;
}

#LOC04
{
	display:					flex;
}

#LOC05
{
	
	width:						70vw;
}

#LOC06
{
	display:					flex;
	justify-content: 			space-between;
	align-items: 				center;
	
	margin:						4rem;
	
	
}


#LOC07
{
	display:					flex;
	flex-direction: 			column;
	justify-content: 			space-around;
	align-items: 				center;
	
	width:						30vw;
	
}







#LOC02
{
	display:						grid;
	grid-gap:						1.5rem;
	grid-template-areas: 			"BU7 BU8 BU9"
									"BU4 BU5 BU6"
									"BU1 BU2 BU3"
									"... BU0 ...";
	
	width:							20vw;
	
}


.LOCT01
{
	height:						100%;
	width:						70vw;
	
	background-color:			blue;
}



#TFT01
{
	display: 					flex;
	justify-content: 			center;
	align-items: 				center;
	text-align: 				center;
	
	height:						25vh;
	width:						50vw;
	border:						none;
	
	background-color:			black;
	
	font-size: 					15rem;
	font-weight: 				900;
	font-family: 				'Pragati Narrow', sans-serif;
	text-transform: 			uppercase;
	color:						red;
}


.DDT01
{
	display:					flex;
	justify-content: 			center;
	align-items: 				center;
	
	height:						25vh;
	width:						22vw;
	padding-left: 				4rem;
	border:						none;
	
	
	font-size:					9.5rem;
	font-weight: 				900;
	font-family: 				'Pragati Narrow', sans-serif;
	color:						gray;
	
	background-color:			black;
}


.DDT02
{
	display:					flex;
	justify-content: 			center;
	align-items: 				center;
	
	height:						25vh;
	width:						67vw;
	padding-left: 				4rem;
	border:						none;
	
	
	font-size:					9.5rem;
	font-weight: 				900;
	font-family: 				'Pragati Narrow', sans-serif;
	color:						gray;
	
	background-color:			black;
}


#DDB02
{
	width:						22vw;
}



.BUT01
{
	display:							flex;
	justify-content: 					center;
	align-items: 						center;
	
	height:								80px;
	width:								80px;
	
	margin:								1rem;
	border: 							none;
	
	text-shadow: 						2px 2px black;
	font-size:							5rem;
	font-family: 						arial;
	font-weight: 						900;
	color:								lightslategray;
	
	background-image:					url("../ASSETS/IMAGES/BACKGROUNDS/BUTTONS/BCK_BUT01_100_100_b.png");
	background-repeat: 					no-repeat;
	background-size: 					contain;
	background-color:					transparent;
	

}

.BUT02
{

	width:								80px;
	height: 							80px;
	border:								none;
	
	background-image:					url("../ASSETS/IMAGES/BACKGROUNDS/BUTTONS/BCK_BUT01_100_100_c.png");
	background-repeat: 					no-repeat;
	background-size: 					contain;
	background-color:					transparent;
	
	font-family: 						arial;
	font-weight: 						900;
	text-shadow: 						2px 2px black;
	font-size:				5rem;
	color:					lightslategray;
	
}

#BUT03
{
	height:							80px;
	width:							220px;
	
	border:							none;
	
	background-image:				url("../ASSETS/IMAGES/BACKGROUNDS/BUTTONS/BCK_BUT01_100_100_d.png");
	background-repeat: 				no-repeat;
	background-size: 				cover;
	background-color:				transparent;
}

#BUT04
{
	height:							80px;
	width:							220px;
	
	border:							none;
	background-image: 				url("../ASSETS/IMAGES/BACKGROUNDS/BUTTONS/BCK_BUT01_100_100_e.png");
	background-repeat:				no-repeat;
	background-size:				cover;
	background-color:				transparent;
	
}


#BUT05
{
	height:							80px;
	width:							220px;
	
	border:							none;
	background-image: 				url("../ASSETS/IMAGES/BACKGROUNDS/BUTTONS/BCK_BUT01_100_100_f.png");
	background-repeat:				no-repeat;
	background-size:				cover;
	background-color:				transparent;
	
}

#BUT06
{
	height:							80px;
	width:							220px;
	
	
	
	border:							none;
	background-image: 				url("../ASSETS/IMAGES/BACKGROUNDS/BUTTONS/BCK_BUT01_100_100_g.png");
	background-repeat:				no-repeat;
	background-size:				cover;
	background-color:				transparent;
	
}


#BUT07
{
	height:							160px;
	width:							220px;
	
	
	
	border:							none;
	background-image: 				url("../ASSETS/IMAGES/BACKGROUNDS/BUTTONS/BUT07_160_220_a.png");
	background-repeat:				no-repeat;
	background-size:				cover;
	background-color:				transparent;
	
}

#BUT08
{
	height:							160px;
	width:							220px;
	
	
	
	border:							none;
	background-image: 				url("../ASSETS/IMAGES/BACKGROUNDS/BUTTONS/BUT07_160_220_b.png");
	background-repeat:				no-repeat;
	background-size:				cover;
	background-color:				transparent;
	
}

#BUT09
{
	height:							160px;
	width:							220px;
	
	
	
	border:							none;
	background-image: 				url("../ASSETS/IMAGES/BACKGROUNDS/BUTTONS/BUT07_160_220_c.png");
	background-repeat:				no-repeat;
	background-size:				cover;
	background-color:				transparent;
	
}

#BUT10
{
	height:							220px;
	width:							220px;
	
	
	
	border:							none;
	background-image: 				url("../ASSETS/IMAGES/BACKGROUNDS/BUTTONS/BUT10_220_220_a.png");
	background-repeat:				no-repeat;
	background-size:				cover;
	background-color:				transparent;
	
}


#BUT11
{
	height:							220px;
	width:							220px;
	
	
	
	border:							none;
	background-image: 				url("../ASSETS/IMAGES/BACKGROUNDS/BUTTONS/BUT11_220_220_a.png");
	background-repeat:				no-repeat;
	background-size:				cover;
	background-color:				transparent;
	
}


#BU0
{
	grid-area: 				BU0;
}

#BU1
{
	grid-area:				BU1;
}

#BU2
{
	grid-area:				BU2;
}

#BU3
{
	grid-area:				BU3;
}

#BU4
{
	grid-area: 				BU4;
}

#BU5
{
	grid-area: 				BU5;
}

#BU6
{
	grid-area: 				BU6;
}

#BU7
{
	grid-area: 				BU7;
}

#BU8
{
	grid-area: 				BU8;
}

#BU9
{
	grid-area: 				BU9;
}


#BUA
{
	grid-area:				BUA;
}

#BUB
{
	grid-area:				BUB;
}

#BUC
{
	grid-area:				BUC;
}

#BUD
{
	grid-area: 				BUD;
}

#BUE
{
	grid-area:				BUE;
}

#BUF
{
	grid-area: 				BUF;
}

#BUG
{
	grid-area:				BUG;
}

#BUH
{
	grid-area:				BUH;
}

#BUI
{
	grid-area:				BUI;
}

#BUJ
{
	grid-area: 				BUJ;
}

#BUK
{
	grid-area: 				BUK;
}

#BUL
{
	grid-area:				BUL;
}

#BUM
{
	grid-area: 				BUM;
}

#BUN
{
	grid-area:				BUN;
}

#BUO
{
	grid-area:				BUO;
}

#BUP
{
	grid-area: 				BUP;
}

#BUQ
{
	grid-area: 				BUQ;
}

#BUR
{
	grid-area: 				BUR;
}

#BUS
{
	grid-area: 				BUS;
}

#BUT
{
	grid-area: 				BUT;
}

#BUU
{
	grid-area: 				BUU;
}

#BUV
{
	grid-area: 				BUV;
}

#BUW
{
	grid-area:				BUW;
}

#BUX
{
	grid-area: 				BUX;
}

#BUY
{
	grid-area:				BUY;
}

#BUZ
{
	grid-area: 				BUZ;
}